body {
	background-image: url("GEOM_101/Background_Index.jpg");
}
img { 
	border-radius: 40px;
	border: 1px solid LightGray;
	max-width: 100%;
	height: auto;
	margin-left: 350px;
	margin-top: 100px;
}
div.pagetitle {
	position:absolute;
	left: 800px;
	top: 225px;
	font-family:Impact, Charcoal, serif;
	font-size: 3.5em; 
}
/* Reference font size and positioning from w3schools.com/css/ */

div.pagesub {
	position: absolute;
	left: 800px;
	top: 300px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.75em;
}

div.profile {
	position: absolute;
	left: 250px;
	top: 650px;
	font-family:"Times New Roman", Times, serif;
	font-size: 1.5em;
	color: #800080;
	text-decoration: underline;
}
div.profile_text {
	position:absolute;
	left: 250px;
	top:675px;
	right: 850px;
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 1em;
}


	
